<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Test</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
                <form class="" onsubmit="return Client.handleSubmit(event)">
                    <input
                        id="website_url"
                        type="text"
                        name="website_url"
                        required
                        pattern="https?://.+"
                        title="must begin with http:// or with https://"
                        onblur="Client.onBlur()"
                        placeholder="Input blog/article url to process">
                    <input type="submit" name="" value="submit">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
            <p>This is a footer</p>
        </footer>
        <script>
            // Don't register the service worker
            // until the page has fully loaded
            window.addEventListener('load', () => {
              // Is service worker available?
              if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('./service-worker.js').then(() => {
                  console.log('Service worker registered!');
                }).catch((error) => {
                  console.warn('Error registering service worker:');
                  console.warn(error);
                });
              }
            });
          </script>
    </body>
</html>
